# Exercise : Pandas Wrangling

In [1]:
import pandas as pd

In [2]:
irisdf = pd.read_csv('iris_csv.csv')

Q1. Missing Values

Check if there are any missing values in the irisdf data set.

In [3]:
missing_values = irisdf.isnull().sum()
print(missing_values)

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

Q2. Find Duplicates

There are three duplicate rows, display the rows.

In [4]:
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

Q3. Calculate Mean

Find the mean sepallength and store it in a variable called mean_sepallength

In [5]:
mean_sepallength = irisdf['sepallength'].mean()
print(mean_sepallength)

5.843333333333334

Q4. Set Value

Set the sepallength of the row with index 34 to the mean value found.

In [6]:
irisdf.loc[34, 'sepallength'] = mean_sepallength

In [9]:
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

Q5. Drop Duplicates

Drop the rows with duplicates

In [10]:
irisdf.drop_duplicates(inplace=True)

In [11]:
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

Q6. Set as NA

Set the sepalwidth of the row with index 34 to pd.NA (which is pandas for NULL value)

In [14]:
irisdf.loc[34, 'sepalwidth'] = pd.NA

In [15]:
print(irisdf.loc[34])

sepallength       5.843333
sepalwidth             NaN
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

Q7. Find Rows with Missing Values

Find the rows with any NA values

In [17]:
rows_with_missing_values = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_missing_values)

    sepallength  sepalwidth  petallength  petalwidth        class
34     5.843333         NaN          1.5         0.1  Iris-setosa

Q8. Drop Rows with Missing Values

Now drop the rows with missing values with the argument inplace = True

In [18]:
irisdf.dropna(inplace=True)

In [19]:
rows_with_missing_values = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_missing_values)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []